[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
	branch = master
	ignore = dirty
[submodule "nvim/pack/plugins/opt/rose-pine"]
	path = nvim/pack/plugins/opt/rose-pine
	url = https://github.com/rose-pine/neovim.git
[submodule "nvim/pack/plugins/opt/vim-just"]
	path = nvim/pack/plugins/opt/vim-just
	url = https://github.com/NoahTheDuke/vim-just.git
[submodule "nvim/pack/plugins/opt/mini.comment"]
	path = nvim/pack/plugins/opt/mini.comment
	url = https://github.com/echasnovski/mini.comment.git
[submodule "nvim/pack/plugins/opt/mini.align"]
	path = nvim/pack/plugins/opt/mini.align
	url = https://github.com/echasnovski/mini.align.git
[submodule "nvim/pack/plugins/opt/mini.pairs"]
	path = nvim/pack/plugins/opt/mini.pairs
	url = https://github.com/echasnovski/mini.pairs.git
[submodule "nvim/pack/plugins/opt/lspconfig"]
	path = nvim/pack/plugins/opt/lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "nvim/pack/plugins/opt/cmp-lsp"]
	path = nvim/pack/plugins/opt/cmp-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "nvim/pack/plugins/opt/cmp-path"]
	path = nvim/pack/plugins/opt/cmp-path
	url = https://github.com/hrsh7th/cmp-path.git
[submodule "nvim/pack/plugins/opt/vim-vsnip"]
	path = nvim/pack/plugins/opt/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip.git
[submodule "nvim/pack/plugins/opt/snippy"]
	path = nvim/pack/plugins/opt/snippy
	url = https://github.com/dcampos/nvim-snippy.git
[submodule "nvim/pack/plugins/opt/cmp-snippy"]
	path = nvim/pack/plugins/opt/cmp-snippy
	url = https://github.com/dcampos/cmp-snippy.git
[submodule "nvim/pack/plugins/opt/copilot-cmp"]
	path = nvim/pack/plugins/opt/copilot-cmp
	url = https://github.com/zbirenbaum/copilot-cmp.git
[submodule "nvim/pack/plugins/opt/mason"]
	path = nvim/pack/plugins/opt/mason
	url = https://github.com/williamboman/mason.nvim.git
[submodule "nvim/pack/plugins/opt/mason-lspconfig"]
	path = nvim/pack/plugins/opt/mason-lspconfig
	url = https://github.com/williamboman/mason-lspconfig.nvim.git
[submodule "nvim/pack/plugins/opt/neodev"]
	path = nvim/pack/plugins/opt/neodev
	url = https://github.com/folke/neodev.nvim.git
[submodule "nvim/pack/plugins/opt/trouble"]
	path = nvim/pack/plugins/opt/trouble
	url = https://github.com/folke/trouble.nvim.git
[submodule "nvim/pack/plugins/opt/mini-clue"]
	path = nvim/pack/plugins/opt/mini-clue
	url = https://github.com/echasnovski/mini.clue.git
[submodule "nvim/pack/plugins/opt/plenary"]
	path = nvim/pack/plugins/opt/plenary
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "nvim/pack/plugins/opt/telescope"]
	path = nvim/pack/plugins/opt/telescope
	url = https://github.com/nvim-telescope/telescope.nvim.git
	branch = 0.1.x
[submodule "nvim/pack/plugins/opt/telekasten"]
	path = nvim/pack/plugins/opt/telekasten
	url = git@github.com:johanfriis/telekasten.nvim.git
[submodule "nvim/pack/plugins/opt/telescope-file-browser"]
	path = nvim/pack/plugins/opt/telescope-file-browser
	url = https://github.com/nvim-telescope/telescope-file-browser.nvim.git
[submodule "nvim/pack/plugins/opt/smart-splits"]
	path = nvim/pack/plugins/opt/smart-splits
	url = https://github.com/mrjones2014/smart-splits.nvim.git
[submodule "nvim/pack/plugins/opt/vim-startuptime"]
	path = nvim/pack/plugins/opt/vim-startuptime
	url = https://github.com/dstein64/vim-startuptime.git
[submodule "nvim/pack/plugins/opt/nvim-treesitter"]
	path = nvim/pack/plugins/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "nvim/pack/plugins/opt/whaler"]
	path = nvim/pack/plugins/opt/whaler
	url = https://github.com/SalOrak/whaler.git
[submodule "nvim/pack/plugins/opt/telescope-undo"]
	path = nvim/pack/plugins/opt/telescope-undo
	url = https://github.com/debugloop/telescope-undo.nvim.git
[submodule "nvim/pack/plugins/opt/nvim-tree"]
	path = nvim/pack/plugins/opt/nvim-tree
	url = https://github.com/nvim-tree/nvim-tree.lua.git
