[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
	branch = master
	ignore = dirty
[submodule "nvim/pack/plugins/opt/vim-pandoc-syntax"]
	path = nvim/pack/plugins/opt/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "nvim/pack/plugins/opt/vim-pandoc"]
	path = nvim/pack/plugins/opt/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "nvim/pack/plugins/opt/rose-pine"]
	path = nvim/pack/plugins/opt/rose-pine
	url = https://github.com/rose-pine/neovim.git
[submodule "nvim/pack/plugins/opt/vim-just"]
	path = nvim/pack/plugins/opt/vim-just
	url = https://github.com/NoahTheDuke/vim-just.git
[submodule "nvim/pack/plugins/opt/mini.comment"]
	path = nvim/pack/plugins/opt/mini.comment
	url = https://github.com/echasnovski/mini.comment.git
[submodule "nvim/pack/plugins/opt/mini.align"]
	path = nvim/pack/plugins/opt/mini.align
	url = https://github.com/echasnovski/mini.align.git
[submodule "nvim/pack/plugins/opt/mini.move"]
	path = nvim/pack/plugins/opt/mini.move
	url = https://github.com/echasnovski/mini.move.git
[submodule "nvim/pack/plugins/opt/mini.pairs"]
	path = nvim/pack/plugins/opt/mini.pairs
	url = https://github.com/echasnovski/mini.pairs.git
[submodule "nvim/pack/plugins/opt/lspconfig"]
	path = nvim/pack/plugins/opt/lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
